.withdraw-D {
    margin: 1rem 1.5rem;
    width: 80%;
}
.alert-u {
    padding: 0.6rem 0.8rem;
    border-left: 4px solid green;
    background: rgba(48, 48, 48, 0.539);
}
.mumu-1 {
    display: block;
    margin-top: 0.4rem;
}
.withdrawal-box {
    width: 60%;
    padding: 1rem;
    margin: 1rem 0% 0 0;
    display: flex;
    border-radius: 0.2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}
.w-l-flxxer {
    padding: 0.3rem;
    margin: 1.5rem 0;
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    flex-direction: column;
}
#depositOP {
    background-color: rgb(26, 25, 25);
    padding: 0.5rem 0.3rem;
    color: #fff;
}
#depositOP option {
    padding: 1rem 0.2rem;
}
.d-add {
    display: flex;
    align-items: center;
    position: relative;
}
.bg_green {
    background-color: rgb(9, 148, 9)
}
.alert_main {
    position: fixed;
    top: 0%;
    width: 70%;
    z-index: 1999;
    padding: 0.3rem 0.5rem;
    color: #fff;
}
.d-add .foo {
    font-size: 1.5rem;
    margin-left: 0.2rem;
    margin-top: 0.4rem;
    cursor: pointer;
}
#address_id {
    padding: 0.4rem 1rem;
    background-color: #ffffff12;
    color: #fff;
    width: 95%;
    font-size: 0.9rem;
    word-wrap: break-word;
    backdrop-filter: blur(5px);   
}
.d-add .foo:hover {
    color: rgb(79, 79, 255);
}
.d-add input {
    font-size: 0.9rem;
    overflow: visible;
    width: 92%;
}
.w-l-flxxer input {
    margin-top: 0.7rem;
    padding: 0.4rem 1rem;
    background-color: #ffffff12;
    color: #fff;
    backdrop-filter: blur(5px);
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 0.2rem;
}
.by-bu {
    background: rgb(62, 62, 255);
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    padding: 1rem 0.9rem;
    margin: 0.6rem 25% 1rem 25%;
    width: 50%;
    font-size: 1.1rem;
    border-radius: 0.2rem;
}
.up-p-img {
    margin-top: 1rem;
    width: 30%;
}
.w-l-flxxer label {
    color: #fff;
    font-size: 0.9rem;
}

@media screen and (max-width: 910px) {
    .withdraw-D {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .withdrawal-box {
        width: 90%;
        margin: 2rem auto;
    }
    .foo {
        display: none;
    }
    .by-bu {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media screen and (max-width: 525px) {
    .withdrawal-box {
        width: 98%;
        padding: 0.1rem;
    }
    .withdraw-D {
        margin: 1rem 0.2rem;
    }
}