.tradingview-widget-copyright {
  display: none;
}

.hoverData {
  color: white;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
}
.onChainChart {
  max-width: 300px;
}

.addressHover {
  max-width: 50%;
  border: 0.5px solid white;
}

.charty {
  display: flex;
  width: 97.5%;
  flex-direction: column;
}
.taChart {
  width: 75%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
}
.chart-data {
  color: white;
}
.dataRequest {
  color: white;
}

.chart-data {
  color: white;
}

@media screen and (max-width: 910px) {
  .taChart {display:none}
}